.body {
    padding-top: 10px;
}
.form-container {
    margin-top: 10px;

}

.form-container label {
        color: #333333;
        display: block;
        float: left;
        margin-bottom: 5px;
        margin-left: 33px;
        width: 200px;
}

#fileNameField {
    width:400px;
}

.cleditorMain {
    background-color: white;
    border: 1px solid #999999;
    margin-bottom: 10px;
    margin-left: 215px;
    padding: 0 1px 1px;
}


.ui-tabs .ui-tabs-panel {
    background: #ffffff;
}

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}


