body {
    color: #7777999;
    /*font-family: Arial,Helvetica,sans-serif;*/
    font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif
}

#header #logo {
    position: absolute;
    margin-top: 5px;
}

#header-nav {
    float: right;
    margin-top: 60px;
}

#header-nav .nav-pills .active > a, #header-nav .nav-pills .active > a:hover {
    background-color: #cb7145;
    color: #FFFFFF;
}

#header-nav ul.nav li a {
    color: #852432;
    display: block;
}

#header-nav .nav-pills > li > a  {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 6px;
    padding-top: 6px;
}

#header-nav .nav-tabs > li > a, .nav-pills > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#address-bar {
    height: 20px;
    background-image: url("../images/search_bg.jpg");
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 12px;

}

#main-image-container {
    height: 255px;
    margin: 2px 0 0;
    width: 100%;
    background: url("../images/header_intro_bg.jpg") repeat-x scroll center bottom #3C69AC;
    border-left: 1px solid #4E79BB;
    border-right: 1px solid #3C69AC;
}

#main-image-container #home-image {
    float: left;
    width: 630px;
}

#main-image-container #homeintro {
    float: left;
    height: 276px;
    padding: 19px;
    width: 270px;
}

#homeintro {
    color: #ffffff;
}
#homeintro h1 {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 30px;
}
#homeintro p {
    margin-top: 20px;
    line-height: 24px;

}
 #homeintro a#btnleft , #homeintro a#btnright {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 6px 6px;
    color: #fff;
    background-color: #852432;
}
#home-welcome {
    float: left;
    width: 300px;
}
#home-welcome h5 {
    font-family: Geneva;
    color: #852432;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 10px
}

#new-listings {
    float: left;
    width: 300px;
    margin-left: 30px;
}

#new-listings h2, #feature-listing h2  {
    border-bottom: 1px solid #4F4840;
    color: #4F4840;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
#new-listings hr {
    margin: 0;
}
#new-listings img {
    width: 40%;
    height: 40%;
    float: left;
}

#new-listings .new-listing-content {
    float: left;
    margin-left: 5px;
}
#new-listings li {
    margin-bottom: 5px;
}

#feature-listing hr {
    margin: 0;
}
#feature-listing {
    float: left;
    width: 860px;
    margin-left: 8px;
}

#feature-listing li {
    line-height: 8px;
}
#feature-listing img {
    width: 290px;
    border: 1px solid #CCCCCC;
}
#feature-listing-content {
    width: 290px;
    border: 1px solid #CCCCCC;
}

#feature-listing-content p.top{
    width: 290px;
    background-color: #F7E0C8;
    height: 40px;
    margin-top: 0;
}

#feature-listing ul, #new-listings ul  {
    list-style: none;
    margin-left: 0;
}
.clear {
    clear: both;
}
#footer {
    background: url("../images/footer_bg.jpg") repeat-x scroll center top transparent;
    border-top: 1px solid #CFCFCF;
    float: left;
    margin: 30px 0 0;
    width: 100%;
}

.galleria-container {
  background: none repeat scroll 0 0 transparent;
}
.galleria-counter {
    color: transparent;
}

#listingwrap {
    float: left;
    /*width: 960px;*/
    background: url(../images/listing_bg.jpg) repeat-y;
}

#sidebar {
    float: left;
    width: 309px;
    padding: 19px 0 19px 19px;
    border-left: 1px solid #3c69ac;
    border-right: 1px solid #4e79bb;
    background: url(../images/header_intro_bg.jpg) repeat-x #204782 bottom;
}

#sidebar ul {
    list-style-type: none;
    margin: 0 0 9px 0;
}

#sidebar ul li {
    text-align: left;
}

#sidebar ul li a {
    display: block;
    padding: 5px 0 5px 0;
    width: 309px;
    color: #999999;
    background: url(../images/subnav_item_bg.jpg) no-repeat bottom;
}

#sidebar ul li a:hover {
    color: #cccccc;
}

#sidebar ul li.currentsub a {
    color: #ffffff;
    background: url(../images/subnav_current_bg.jpg) repeat-y;
}

.search-header {
    color: #FFFFFF;
}

.searchresult {
    float: right;
    margin: 20px 0 0 23px;
    width: 816px;
    padding: 0 0 5px 0;
    background: url(../images/search_result_description_bg.jpg) repeat-x bottom;
}

.searchresult img {
    float: left;
    height: 195px;
    width: 281px;
}

.listinginfo {
    float: left;
}

.listinginfo .address {
    width: 493px;
}

.shortDescription {
    margin-left: 20px;
    width: 500px;
}

.listinginfo .readMore, .thumb-readMore {
    color: #852432 ;
    margin: 5px 0 5px 21px;
}

.listinginfo .price {
    font-size: 18px;
}

.mls {
    color: #999999;
}

#searchnav {
    float: right;
    width: 610px;
    margin: 20px 0 0 0;
}

#searchnav a#btnleft, #searchnav a#btnright {
    display: block;
    width: 145px;
    height: 27px;
    text-align: center;
    padding: 3px 0 0 0;
}

#searchnav a#btnleft {
    float: left;
    background: url(../images/searchnav_btnleft.jpg) no-repeat;
}

#searchnav a#btnright {
    float: right;
    background: url(../images/searchnav_btnright.jpg) no-repeat;
}

.address {
    padding: 10px 20px 8px 20px;
    background-color: #f7e0c8;
    border-bottom: 1px solid #ebd0b4;
    margin: 0 0 10px 0;
}

#featuredlisting .price, #featuredlisting .bedbathsqft, #featuredlisting .propertytype, .listinginfo .price, .listinginfo .bedbathsqft, .listinginfo .propertytype, .listinginfo .mls {
    margin: 0 0 0 20px;
}

a:link {
    color: #4f4840;
    text-decoration: none;
}

a:visited {
    color: #4f4840;
    text-decoration: none;
}

a:hover {
    color: #7f7467;
    text-decoration: none;
}

a:active {
    color: #4f4840;
    text-decoration: none;
}

.message {
    float: right;
    margin: 20px 0 0 23px;
    width: 816px;
}

#listingdetail {
    float: left;
    margin-left: 345px;
    width: 805px;
}

#listingdetail p {
    margin-bottom: 10px;
}

#listingdetail h4 {
    color: #696969;
    margin: 20px 0 0;
    text-transform: capitalize;
}

.paginate {
    float:right;
    margin-right:450px;
    margin-top:10px
}

.paginate a {
    margin: 0 5px;
}

.paginate .currentStep {
    background: #CB7145;
    padding: 2px 5px;
    color: #FFFFFF;
}

.paginate .step {
    padding: 2px 5px;
    background: #ffa07a;
    color: white;
}

a.nextLink, a.prevLink {
    color: navy;
}
.contact-us-address {
    line-height: 10px;
    color: #fff;
}

.header {
     margin-bottom: 5px;
     color: #fff;
}

.business-hours {
    margin-bottom: 20px;
}
.working-hrs {
    line-height: 8px;
}

/*property details css*/
#property-main, .description {
    float: left
}

.description {
    width: 660px;
}

.description .well {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 19px 19px 19px 5px;
}


#property-main {
    margin: 10px 5px;
    width: 830px;
    background: #f6f6f6;
}

#property-title {
    clear: both;
    height: 40px;
    background: #F7E0C8;
    margin-bottom: 10px;
    font-weight: bold;

}

#property-title p.title {
    float: left;
    font-size: 18px;
    padding: 12px 10px;
}

#property-title p.price {
    float:right;
    height: 40px;
    width: 120px;
    background: url("../images/search_bg.jpg");
    background-repeat: repeat-x;
    font-size: 16px;
    padding: 10px 0 0 5px;
}

.li-label {
}

.feature-box {
    width: 350px;
    height: 300px;
    border: 1px solid gray;-moz-border-radius:15px 15px;
    border-radius: 15px;
    background: none repeat scroll 0 0 #F6F6F6;";
}
.thumb-header{
    text-align: center;
    background: #cc7145;
    -moz-border-radius:15px 15px 0 0;
    border-radius: 15px 15px 0 0;
}
.image-thumb {
    width:150px;
    height: 100px;
    margin: 0 auto
}

.property-detail {
    margin-top: 50px;
    font-size: 14px;
    line-height: 17px;
    padding: 0 5px;
}
.thumb-readmore-link {
    text-align: right;
}

#home-welcome address, #home-welcome address p  {
    font-size: 14px;
}



